img {
  max-width: 100%;
}

body {
  /* line-height: 1.5; */
  font-size: 100%;
  color: #313131;
}

main {
  margin: 0 20px;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
  display: block;
  margin: 0 auto;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

textarea {
  height: 60px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}

input:invalid, textarea:invalid {
  border-color: #AE3F3C;
}

input:valid, textarea:valid {
  border-color: #89CB8E;
}

a[title]:hover:after {
  background-color: red;
}
